{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<h1>Create Unit</h1>
<div class="form-container">
  <form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.department.label_tag }}
      {{ form.department }}
    </div>
    <div class="form-group">
      {{ form.code.label_tag }}
      {{ form.code }}
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.description.label_tag }}
      {{ form.description|add_css_classes:"form-control description-field" }}
    </div>    
    <button type="submit" class="btn btn-primary">Create Unit</button>
  </form>
</div>
{% endblock %}
